<nav>
    <div class="site-title">
      <a href="/"><h1>ICE CREAM!!!!!</h1></a>
      <p>Cold and yummy</p>
    </div>
    <ul>
        <li><a href="/">yum</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/flavour">Flavours</a></li>
      <li><a href="/result">top 10 best rated</a></li>
    </ul>
  </nav>