<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    Oppppppss....We are sorry! something went bananas!
    wubalubadubdub!
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>

